black=22.3.0
colorlog=6.6.0
flake8=4.0.1
gensim=4.2.0
ipywidgets=7.7.0
isort=5.10.1
jupyter_console=6.4.3
jupyterlab=3.4.2
jupyterlab_pygments=0.2.2
jupyterlab_server=2.14.0
jupyterlab_widgets=1.1.0
pandas=1.4.2
pip=22.1.1
pytest=7.1.2
python=3.9.13
python-dateutil=2.8.2
python-fastjsonschema=2.15.3
python_abi=3.9=2_cp39
requests=2.27.1
tqdm=4.64.0